# 1. Create an app here: https://developer.spotify.com/dashboard/create
# 2. Replace 'YOUR_CLIENT_ID' with your client id
# 3. Rename this file to .env
VITE_SPOTIFY_CLIENT_ID=YOUR_CLIENT_ID
VITE_REDIRECT_TARGET=http://localhost:5173/