# 1. Create an app here: https://developer.spotify.com/dashboard/create
# 2. Replace 'YOUR_CLIENT_ID' with your client id
# 3. Replace 'YOUR_SECRET_ID' with your secret id
# 4. Rename this file to .env
VITE_SPOTIFY_CLIENT_ID=YOUR_CLIENT_ID
VITE_SPOTIFY_SECRET_ID=YOUR_SECRET_ID