@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 100% 100%;
    --primary: 250 96% 80%;
    --secondary: 120 96% 80%;
    --muted: 0 0% 68%;
    --accent: 0 0% 6%;
    --destructive: 15 96% 80%;
    --border: 0 0% 18%;
    --ring: 210 26.8% 83.9%;
    --radius: 0.5rem;
  }
}

* {
  @apply border-border;
}

/**
  * Styled scroll bars.
  * Uses non-standard `::-webkit` as `scrollbar-color` isn't supported in Safari yet.
  */
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
}

body {
  @apply min-h-[100dvh] cursor-default select-none overflow-y-scroll bg-background text-foreground;
  font-family: LilGrotesk, sans-serif;
}

#root {
  @apply min-h-inherit;
}

input[type='search']::-webkit-search-cancel-button {
  /* Hide the cancel button as we use our own reset button
  for better cross-browser support. */
  @apply hidden;
}

::selection {
  @apply bg-primary text-background;
}

:focus-visible {
  outline: hsl(var(--primary)) dashed 3px;
  outline-offset: -2px;
}

svg {
  @apply h-[1em] w-[1em];
}

@font-face {
  font-family: 'LilGrotesk';
  src: url('/fonts/LilGrotesk-Medium.woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'LilGrotesk';
  src: url('/fonts/LilGrotesk-Bold.woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Audio player */
.player-small.rhap_container {
  @apply px-5 pb-4;
}

.player-small .rhap_controls-section * {
  @apply overflow-hidden;
}

.player-small .rhap_controls-section {
  @apply flex gap-2.5 overflow-hidden;
}

.player-small .rhap_main-controls {
  @apply shrink-0 delay-100 duration-500 ease-out animate-in fade-in-0 slide-in-from-bottom-2 fill-mode-backwards;
}

.player-small .rhap_main-controls-button {
  @apply block;
}

.player-small .rhap_controls-section {
  @apply min-h-[56px];
}

.player-large .rhap_progress-section {
  @apply flex min-h-[107px] items-center;
}

.player-large .rhap_progress-section {
  @apply pt-5;
}

.rhap_progress-container {
  @apply w-full cursor-pointer;
}

.player-large .rhap_progress-container {
  @apply py-5;
}

.player-small .rhap_progress-container {
  @apply py-4 delay-300 duration-500 ease-out animate-in fade-in-0 slide-in-from-bottom-1 fill-mode-backwards;
}

.player-large .rhap_controls-section {
  @apply mx-2.5;
}

.rhap_progress-bar {
  @apply relative z-0 h-[5px] w-full rounded bg-border;
}

.rhap_progress-filled {
  @apply absolute z-[2] h-full rounded bg-primary;
}

.rhap_progress-indicator {
  @apply shadow-[0_0_.75rem_.25rem_hsl(var(--background)),0_0_0_0_hsl(var(--primary))] transition-shadow duration-500;
}

.rhap_play-status--playing .rhap_progress-indicator {
  @apply shadow-[0_0_.9rem_.15rem_hsl(var(--background)),0_0_.4rem_.1rem_hsl(var(--primary))];
}

.rhap_progress-indicator {
  @apply absolute top-[-8px] z-[3] ml-[-10px] h-[20px] w-[20px] rounded-full bg-primary shadow-[0_0_.75rem_.15rem_hsl(var(--background))];
}

.player-large .rhap_progress-indicator {
  @apply invisible;
}

.player-large:hover .rhap_progress-indicator {
  @apply visible;
}

.player-small .rhap_progress-indicator {
  @apply scale-75;
}

.rhap_play-pause-button {
  @apply text-primary;
}

.player-small .rhap_play-pause-button {
  @apply text-[350%];
}

.player-large .rhap_play-pause-button {
  @apply pr-0 text-[500%];
}
